<div class="flex">
  <div class="border border-black grid grid-cols-8">
    @for (col of board; track $index; let idx = $index) {
      @for (cell of col; track $index; let idy = $index) {
        <div class="relative w-16 h-16">
          @if (cell.position.x === 7) {
            <p class="absolute -bottom-8 left-2 font-bold">
              {{ cell.position.y + 1 }}
            </p>
          }

          @if (cell.position.y === 0) {
            <p class="absolute top-2 -left-5 font-bold">
              {{ cell.position.x + 1 }}
            </p>
          }


          <button
            [class.board__square--black]="(idy - idx) % 2 === 0"
            [class.board__square--selected]="cell.selected"
            class="flex items-center justify-center cursor-pointer w-full h-full p-2 z-40"
            (click)="onCellClick(cell)">
            @if (cell.piece) {
              <div
                [@move]="{
                  value:
                    cell.id === selectedCellId && $moveAnimationPosition() !== null
                      ? 'moving'
                      : 'idle',
                  params: $moveAnimationTransform(),
                }"
                (@move.done)="onMoveAnimationDone($event)"
                class="w-full h-full z-50">
                <img [src]="cell.piece.asset" [alt]="cell.piece.asset" />
              </div>
            }
            @if (cell.inMoveRange) {
              <div
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full bg-black w-4 h-4 opacity-55"></div>
            }
          </button>
        </div>
      }
    }
  </div>
</div>
